@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --play-area-color: #22628295;
    --play-area-button-color: #417a96ca;
    --dark-play-area-color: #396479d5;
}

*{
    margin: 0;
    border: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    background-image: url('./imgs/wallpaper.jpg');
    backdrop-filter: blur(0.1rem);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 2rem;
    font-family: 'Poppins';
}

.play-area{
    color: white;
    background-color: var(--play-area-color);
    backdrop-filter: blur(0.08rem);
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.5);
    padding: 2rem;
    border-radius: 1rem;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    gap: 1rem;
    /* flex-wrap: wrap; */
}

#guess{
    padding: 0.4rem;
    border-radius: 0.5rem;
    width: 60%;
}

#guess::placeholder{
    color: rgba(51, 108, 125, 0.53);
}

#guess:focus{
    outline: none;
}

#guessID{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    padding-bottom: 0.3rem;
}

#submitbtn{
    background-color: var(--play-area-button-color);
    color: white;
    width: 4rem;
    height: 2rem;
    font-size: 1rem;
    padding: 0.3rem;
    border-radius: 0.4rem;
    align-self: right;
}

#submitbtn:hover{
    cursor: pointer;
    background-color: var(--dark-play-area-color);
}

@media (max-width: 786px){
    .play-area{
        max-width: 90%;
    }
}

@media (max-width: 480px){
    .play-area{
        max-width: 95%;
        padding: 1rem;
    }
}